<% include ./partials/_head %>

<body>
    <h1>Small homepage for fun </h1>
    <h2>I AM BLOG</h2>
    <form>
        <input type="text">
        <input type="submit">
    </form>
    <section class="bunch_of_posts">
        <noscript>
            Activate JS ! 
        </noscript>
        <article class="super_single_post" id="post_0">
            <h1>Blog post title</h1>
            <h2>By : Author_id</h2>
            <p>Text of the article</p>
            <p>Date posted</p>
        </article>
    </section>
    <button id="load_more">I WANT MORE ARTICLES OR POSTS I'M NOT SURE WHAT IS IT IN ENGLISH</button>
</body>
</html>